<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poriectcmocheltuieli">

    <!-- Permisiuni necesare -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Configurarea activităților din aplicație -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PoriectCMOCheltuieli">

        <!-- Configurarea Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="802966616072-8t320q29gsi7t69ct3cm60d4lvijos74.apps.googleusercontent.com" />

        <!-- Activitatea principală care este lansată prima -->
        <activity
            android:name="com.example.poriectcmocheltuieli.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activitatea de înregistrare -->
        <activity android:name="com.example.poriectcmocheltuieli.SignUpActivity" />
        <activity android:name="com.example.poriectcmocheltuieli.WelcomeActivity" />
    </application>

</manifest>
